.zs-btn {
  border: none;
  padding: 0px;
  display: block;
  margin: 0px 3px;
  cursor: pointer;
  min-width: 48px;
  background: none;

  .zs-btn-icon-div {
    width: 26px;
    height: 26px;
    line-height: 24px;
    border-radius: 50%;
    border: 1px solid $mian-color;
    margin: auto;
    box-sizing: border-box;

    .btn-icon{
      color: $mian-color;
      font-size: 14px;
    }
  }

  .zs-btn-text {
    font-size: 12px;
    color: $mian-color;
  }

  // 聚焦样式
  &:focus {
    outline: none;
  }

  // 禁用样式
  &.disabled {
    cursor: not-allowed;

    .zs-btn-icon-div{
      background: #fff;
      border: 1px solid $disable-color;
    }

    .zs-btn-text {
      color: $disable-color;
    }

    &:hover{
      .zs-btn-icon-div{
        background: #fff;
        border: 1px solid $disable-color;
      }
      .btn-icon {
        color: $disable-color;
      }
    }

    .btn-icon {
      color: $disable-color;
    }
  }

  &:hover{
    .zs-btn-icon-div{
      background: $mian-color;
    }

    .btn-icon {
      color: #fff;
    }
  }
}
