.zs-dialog{
	@extend .flex-h-center;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top:0;
	z-index: 9999;

  .zs-dialog-main{
  	min-width: 40%;
  	min-height: 500px;
  	max-height: 800px;
  	box-sizing: border-box;
  	background: #fff;
  	border-radius: 10px;
  	box-shadow: 1px 1px 10px #c7c7c7;

    .zs-dialog-title{
    	height: 40px;
    	line-height: 40px;
    	text-align: left;
    	padding-left:20px;
    	box-sizing: border-box;
    	color:#666;
    	font-size: 16px;
    	position: relative;
    }
    .zs-dialog-close{
    	width: 21px;
    	height: 21px;
    	line-height: 21px;
    	position: absolute;
    	right:5px;
    	top:5px;
    	cursor: pointer;
    	text-align: center;
    }
    .zs-dialog-close i{
    	font-size: 20px;
    	color:#fff;
      background: #c7c7c7;
      border-radius: 50%;
    }

    .zs-dialog-body{
    	max-height: 760px;
    	overflow: auto;
    	padding:10px;
    	box-sizing: border-box;
    }
  }
}
