@font-face {font-family: "zs-iconfont";
  src: url('iconfont.eot?t=1590393664916'); /* IE9 */
  src: url('iconfont.eot?t=1590393664916#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1590393664916') format('woff'),
  url('iconfont.ttf?t=1590393664916') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
}

[class*=" zs-icon-"],[class^=zs-icon-] {
  font-family: "zs-iconfont" !important;
  font-size: 16px;
  font-style: normal;
  color:#fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zs-icon-chafeng:before {
  content: "\e64d";
}

.zs-icon-dianti:before {
  content: "\e64e";
}

.zs-icon-diya:before {
  content: "\e64f";
}

.zs-icon-ercigongshui:before {
  content: "\e650";
}

.zs-icon-hetongbeian:before {
  content: "\e651";
}

.zs-icon-hetongchakan:before {
  content: "\e652";
}

.zs-icon-ziliu:before {
  content: "\e653";
}

.zs-icon-yewugongneng:before {
  content: "\e654";
}

.zs-icon-keshou:before {
  content: "\e655";
}

.zs-icon-yishou:before {
  content: "\e656";
}

.zs-icon-xianzhi:before {
  content: "\e657";
}

.zs-icon-chexiao:before {
  content: "\e61d";
}

.zs-icon-chakan:before {
  content: "\e61f";
}

.zs-icon-baocun:before {
  content: "\e620";
}

.zs-icon-biangeng:before {
  content: "\e621";
}

.zs-icon-chayichuli:before {
  content: "\e622";
}

.zs-icon-daoru:before {
  content: "\e623";
}

.zs-icon-fujian:before {
  content: "\e624";
}

.zs-icon-beian:before {
  content: "\e625";
}

.zs-icon-rengongduizhang:before {
  content: "\e626";
}

.zs-icon-daochu:before {
  content: "\e627";
}

.zs-icon-shanchu:before {
  content: "\e628";
}

.zs-icon-shenhe:before {
  content: "\e629";
}

.zs-icon-rizhi:before {
  content: "\e62a";
}

.zs-icon-quxiao:before {
  content: "\e62b";
}

.zs-icon-tijiao:before {
  content: "\e62c";
}

.zs-icon-shouquan:before {
  content: "\e62d";
}

.zs-icon-liucheng:before {
  content: "\e62e";
}

.zs-icon-tuisong:before {
  content: "\e62f";
}

.zs-icon-shujutongbu:before {
  content: "\e630";
}

.zs-icon-wanchengduizhang:before {
  content: "\e631";
}

.zs-icon-zengjia:before {
  content: "\e632";
}

.zs-icon-xiugai:before {
  content: "\e633";
}

.zs-icon-gerenzhongxin:before {
  content: "\e634";
}

.zs-icon-xianchangtakan:before {
  content: "\e635";
}

.zs-icon-xinxiaoxi:before {
  content: "\e636";
}

.zs-icon-xiaoxitixing:before {
  content: "\e637";
}

.zs-icon-dayin:before {
  content: "\e638";
}

.zs-icon-zhijiegengxin:before {
  content: "\e639";
}

.zs-icon-ditu:before {
  content: "\e63a";
}

.zs-icon-zhongzhi:before {
  content: "\e63b";
}

.zs-icon-liebiao:before {
  content: "\e63c";
}

.zs-icon-xiazai:before {
  content: "\e63d";
}

.zs-icon-shanchu1:before {
  content: "\e63e";
}

.zs-icon-chakandatu:before {
  content: "\e63f";
}

.zs-icon-ziyuan53:before {
  content: "\e640";
}

.zs-icon-ziyuan54:before {
  content: "\e641";
}

.zs-icon-ziyuan52:before {
  content: "\e642";
}

.zs-icon-diyabeianchexiao:before {
  content: "\e643";
}

.zs-icon-fanhui:before {
  content: "\e644";
}

.zs-icon-fangwuxianzhijiechu:before {
  content: "\e645";
}

.zs-icon-fujiacaozuo:before {
  content: "\e646";
}

.zs-icon-fangwuxianzhi:before {
  content: "\e647";
}

.zs-icon-hetongqianding:before {
  content: "\e648";
}

.zs-icon-tiqulouchuang:before {
  content: "\e649";
}

.zs-icon-hetongfanben:before {
  content: "\e64a";
}

.zs-icon-fangwuchushihua:before {
  content: "\e64b";
}

.zs-icon-zhuanxianshou:before {
  content: "\e64c";
}
